div.topic_block{
    background-color: RGB(220, 220, 220);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid RGB(180,180,180);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 32em
}