{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
    <title>PyBlog</title>
</head>
<body>

{% if not user.is_authenticated %}
    <div class="block">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <input type="hidden" name="next" value="{% url 'entry_list' %}"/>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Войти"/></td>
                </tr>
            </table>
        </form>
    </div>
{% else %}
    <div class="block">
        <p align="center">
            <b>Вы уже выполнили вход.</b>
            <a href={% url 'entry_list' %}>Вернуться на главную</a>
        </p>
    </div>
{% endif %}

</body>
</html>