{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
    <title>PyNote</title>
</head>
<body>

{% if user.is_authenticated %}
    <div class="block">
        <p align="center">
            <b>Вы уже выполнили вход.</b>
            <a href={% url 'topic_list' %}>Вернуться на главную</a>
        </p>
    </div>
{% else %}
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Зарегистрироваться"/>
            <input type="hidden" name="next" value={% url 'register' %}/>
        </form>
    </div>
{% endif %}

</body>
</html>